<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        android:minSdkVersion="34" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SnapPointApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_snappoint_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_snappoint_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapPoint"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.videoedit.VideoEditActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.auth.AuthActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.viewpost.ViewPostActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.markerpointselector.MarkerPointSelectorActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.createpost.CreatePostActivity"
            android:exported="true" />
    </application>

</manifest>